{% extends 'base.html.twig' %}

{% block title %}Liste des annonces
{% endblock %}

{% block body %}
	{%include "composants/header.html.twig"%}

	<section class="page">
		{% for ride in rides %}
			<div class="block">
				<h2>{{ ride.date|date("m/d/Y") }}</h2>
				<div class="contenu">
					<div class="left">
						<p>Départ :
							{{ ride.departure }}</p>
						<p>Arrivée :
							{{ ride.destination }}</p>
						<div class="user">
							<img src="{{ asset('images/user.png') }}" alt="">
							<p>{{ride.driver.firstName}}</p>
							<div class="cardGrade">
								<i class="fas fa-star icon" data-active="true"></i>
								<i class="fas fa-star icon" data-active="true"></i>
								<i class="fas fa-star icon" data-active="true"></i>
								<i class="fas fa-star icon" data-active="true"></i>
								<i class="fas fa-star icon" data-active="false"></i>
							</div>
						</div>
					</div>
					<div class="right">
						<p>{{ ride.price }}
							€</p>
						<a href="{{ path('details', {'id': ride.id}) }}">
							<button class="btn">Voir plus</button>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}
