{% extends 'base.html.twig' %}

{% block title %}Details de l'annonce
{% endblock %}

{% block body %}
	{%include "composants/header.html.twig"%}
	<section id="details" class="details">
		<div class="contenu">
			<div class="left">
				<p style="color:#838080" ;>Départ :
					{{ ride.departure }}</p>
				<p style="color:#838080" ;>Arrivée :
					{{ ride.destination }}</p>
				<p>{{ ride.price }}
					€</p>
				<p>{{ ride.seats }}
					places disponibles</p>
				<p>Peugeot 2008 Noir</p>
				<div class="rules">
					<div class="picture">
						<img src="{{ asset('images/cigarette.png') }}">
						<img src="{{ asset('images/musical-note.png') }}">
						<img src="{{ asset('images/speak.png') }}">
					</div>
					<div class="rule">
						{% for rule in ride.rules %}
							<p>{{rule.description}}</p>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="right">
				<p>{{ ride.date|date("d/m/Y") }}</p>
				<p>{{ ride.driver.firstName }}</p>
				<img src="{{ asset('images/user.png') }}">
				<div class="cardGrade">
					<i class="fas fa-star icon" data-active="true"></i>
					<i class="fas fa-star icon" data-active="true"></i>
					<i class="fas fa-star icon" data-active="true"></i>
					<i class="fas fa-star icon" data-active="true"></i>
					<i class="fas fa-star icon" data-active="false"></i>
				</div>
				{% if app.user %}
					{% if app.user.id != ride.driver.id %}
						<button class="reserve">Réserver l'annonce</button>
					{% endif %}
					{% if app.user.id == ride.driver.id %}
						<a href="{{ path('ride_edit', {'id': ride.id}) }}">
							<button class="edit">Editez votre annonce</button>
						</a>
						<a href="{{ path('ride_delete', {'id': ride.id}) }}">
							<button class="delete">Supprimez votre annonce</button>
						</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</section>{% endblock %}
