{% extends 'base.html.twig' %}

{% block pageTitle %}
	Ajouter une règle
	{{ page_title }}
{% endblock %}

{% block body %}
	{% include "composants/header.html.twig" %}
	<section id="rule" class="rule">
		<form method="post">
			<h1>Ajouter une règle</h1>

			{{ form_start(form) }}

			{{ form_label(form.name, 'Nom') }}
			{{ form_widget(form.name) }}
			{{ form_help(form.name) }}
			{{ form_errors(form.name) }}

			{{ form_label(form.description, 'Description') }}
			{{ form_widget(form.description) }}
			{{ form_help(form.description) }}
			{{ form_errors(form.description) }}

			{{ form_label(form.author, 'Auteur') }}
			{{ form_widget(form.author) }}
			{{ form_help(form.author) }}
			{{ form_errors(form.author) }}

			{# {{ form_label(form.rides, 'Annonce') }}
									{{ form_widget(form.rides) }}
									{{ form_help(form.rides) }}
									{{ form_errors(form.rides) }} #}

			<button type="submit" class="btn">Envoyer</button>
			{{ form_end(form) }}
		</form>
	</section>
{% endblock %}
