{% extends 'base.html.twig' %}

{% block title %}Page utilisateur
{% endblock %}

{% block body %}
	{% if app.user %}
		{%include "composants/header.html.twig"%}
		<section id="infos" class="infos">
			<div class="character">
				<div class="left">
					<img src="{{ asset('images/user.png') }}">
					<div class="text">
						{% if app.user %}
							<p>{{ app.user.firstName|default('') }}</p>
						{% endif %}
					</div>
				</div>
				<div class="right">
					<div class="cardGrade">
						<i class="fas fa-star icon" data-active="true"></i>
						<i class="fas fa-star icon" data-active="true"></i>
						<i class="fas fa-star icon" data-active="true"></i>
						<i class="fas fa-star icon" data-active="true"></i>
						<i class="fas fa-star icon" data-active="false"></i>
					</div>
				</div>
			</div>
			<div class="btn">
				<a class="edit_infos" href="{{ path('app_user') }}">Modifier les informations personnelles</a>
				<a class="edit_ride" href="{{ path('app_ride') }}">Ajouter une annonce</a>
				<a class="deconnexion" href="{{ path('app_logout') }}">Se déconnecter</a>
			</div>
		</section>

		<section id="règles" class="règles">
			<h1>A propos de vous<h1>
					<div class="rules">
						<div class="picture">
							<img src="{{ asset('images/speak.png') }}">
							<img src="{{ asset('images/musical-note.png') }}">
							<img src="{{ asset('images/cigarette.png') }}">
							<img src="{{ asset('images/animal.png') }}">
						</div>
						<div class="rule">
							<div class="règle">
								<p>J'aime bien discuter quand je me sens à l'aise</p>
								<a class="edit_rule" href="">Modifier</a>
							</div>

							<div class="règle">
								<p>Pas de musique dans la voiture</p>
								<a class="edit_rule" href="">Modifier</a>
							</div>

							<div class="règle">
								<p>Pas de cigarette dans la voiture</p>
								<a class="edit_rule" href="">Modifier</a>
							</div>

							<div class="règle">
								<p>Je peux voyager avec des animaux domestiques</p>
								<a class="edit_rule" href="">Modifier</a>
							</div>
						</div>
					</div>
				</section>

				<section id="annonces" class="annonces">
					<h1>Mes annonces<h1>
							<div class="contenu">
								<div class="left">
									<p style="color:#838080" ;>Départ : Grenoble</p>
									<p style="color:#838080" ;>Arrivée : Chambéry</p>
									<p>18€</p>
									<p>4 places disponibles</p>
									<p>Peugeot 2008 noir</p>
									<div class="rules">
										<div class="picture">
											<img src="{{ asset('images/cigarette.png') }}">
											<img src="{{ asset('images/musical-note.png') }}">
											<img src="{{ asset('images/speak.png') }}">
										</div>
										<div class="rule">
											<p>Pas de cigarette dans la voiture</p>
											<p>Pas de musique dans la voiture</p>
											<p>J'aime bien discuter quand je me sens à l'aise</p>
										</div>
									</div>
								</div>
								<div class="right">
									<p>07/06/2023</p>
									<p>Christopher</p>
									<img src="{{ asset('images/user.png') }}">
									<div class="cardGrade">
										<i class="fas fa-star icon" data-active="true"></i>
										<i class="fas fa-star icon" data-active="true"></i>
										<i class="fas fa-star icon" data-active="true"></i>
										<i class="fas fa-star icon" data-active="true"></i>
										<i class="fas fa-star icon" data-active="false"></i>
									</div>
									<a href="">
										<button class="edit">Editez votre annonce</button>
									</a>
									<a href="">
										<button class="delete">Supprimez votre annonce</button>
									</a>
								</div>
							</div>
						</div>
					</section>

					<section id="réservations" class="réservations">
						<h1>Mes réservations<h1>
								<div class="contenu">
									<div class="left">
										<p style="color:#838080" ;>Départ : Lyon</p>
										<p style="color:#838080" ;>Arrivée : Paris</p>
										<p>40€</p>
										<p>3 places disponibles</p>
										<p>Toyota Yaris blanche</p>
										<div class="rules">
											<div class="picture">
												<img src="{{ asset('images/cigarette.png') }}">
												<img src="{{ asset('images/musical-note.png') }}">
												<img src="{{ asset('images/speak.png') }}">
											</div>
											<div class="rule">
												<p>Pas de cigarette dans la voiture</p>
												<p>Pas de musique dans la voiture</p>
												<p>Ne pas parler trop fort</p>
											</div>
										</div>
									</div>
									<div class="right">
										<p>07/08/2023</p>
										<p>Noah</p>
										<img src="{{ asset('images/user.png') }}">
										<div class="cardGrade">
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="false"></i>
										</div>
										<a href="">
											<button class="delete">Supprimez la réservation</button>
										</a>
									</div>
								</div>
							</div>
						</section>

						<section id="voitures" class="voitures">
							<h1>Mes véhicules</h1>
							<div class="contenu">
								<div class="list">
									<div class="car">
										<p>Toyota Yaris</p>
										<a href="" class="edit_car">
											<button>Modifier</button>
										</a>
									</div>

									<div class="car">
										<p>Renault Clio</p>
										<a href="" class="edit_car">
											<button>Modifier</button>
										</a>
									</div>
								</div>

								<div class="carForm">
									<a href="">
										<button>Ajouter un véhicule</button>
									</a>
								</div>
							</div>
						</section>

					{% endif %}
				{% endblock %}
