{% extends 'base.html.twig' %}

{% block title %}Page utilisateur
{% endblock %}

{% block body %}
	{% if app.user %}
		{%include "composants/header.html.twig"%}
		<section id="infos" class="infos">
			<div class="character">
				<div class="left">
					<img src="{{ asset('images/user.png') }}">
					<div class="text">
						{% if app.user %}
							<p>{{ app.user.firstName|default('') }}</p>
						{% endif %}
					</div>
				</div>
				<div class="right">
					<div class="cardGrade">
						<i class="fas fa-star icon" data-active="true"></i>
						<i class="fas fa-star icon" data-active="true"></i>
						<i class="fas fa-star icon" data-active="true"></i>
						<i class="fas fa-star icon" data-active="true"></i>
						<i class="fas fa-star icon" data-active="false"></i>
					</div>
				</div>
			</div>
			<div class="btn">
				<a class="edit_infos" href="{{ path('app_user') }}">Modifier les informations personnelles</a>
				<a class="edit_ride" href="{{ path('app_ride') }}">Ajouter une annonce</a>
				<a class="deconnexion" href="{{ path('app_logout') }}">Se déconnecter</a>
			</div>
		</section>

		<section id="règles" class="règles">
			<h1>Préférences de voyage<h1>
					<div class="rules">
						<div class="picture">
							<img src="{{ asset('images/cigarette.png') }}">
							<img src="{{ asset('images/speak.png') }}">
							<img src="{{ asset('images/animal.png') }}">
							<img src="{{ asset('images/musical-note.png') }}">
						</div>
						<div class="rule">
							{% for rule in rules %}
								<div class="règle">
									<p>{{ rule.description }}</p>
									<a class="edit_rule" href="">Modifier</a>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="ruleForm">
						<a href="{{ path('app_rule') }}">
							<button>Ajouter des préférences de moyage</button>
						</a>
					</div>
				</section>

				<section id="annonces" class="annonces">
					<h1>Mes annonces<h1>
							{% for ride in rides %}
								<div class="contenu">
									<div class="left">
										<p style="color:#838080" ;>Départ :
											{{ ride.departure }}</p>
										<p style="color:#838080" ;>Arrivée :
											{{ ride.destination }}</p>
										<p>{{ ride.price }}
											€</p>
										<p>{{ ride.seats }}
											places disponibles</p>
										<p>Peugeot 2008 noir</p>
										<div class="rules">
											<div class="picture">
												<img src="{{ asset('images/cigarette.png') }}">
												<img src="{{ asset('images/musical-note.png') }}">
												<img src="{{ asset('images/animal.png') }}">
												<img src="{{ asset('images/speak.png') }}">
											</div>
											<div class="rule">
												{% for rule in ride.rules %}
													<p>{{rule.description}}</p>
												{% endfor %}
											</div>
										</div>
									</div>
									<div class="right">
										<p>{{ ride.date|date("d/m/Y") }}</p>
										<p>{{ ride.driver.firstName }}</p>
										<img src="{{ asset('images/user.png') }}">
										<div class="cardGrade">
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="false"></i>
										</div>
										<a href="">
											<button class="edit">Editez votre annonce</button>
										</a>
										<a href="">
											<button class="delete">Supprimez votre annonce</button>
										</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</section>

					<section id="réservations" class="réservations">
						<h1>Mes réservations<h1>
								<div class="contenu">
									<div class="left">
										<p style="color:#838080" ;>Départ : Lyon</p>
										<p style="color:#838080" ;>Arrivée : Paris</p>
										<p>40€</p>
										<p>3 places disponibles</p>
										<p>Toyota Yaris blanche</p>
										<div class="rules">
											<div class="picture">
												<img src="{{ asset('images/cigarette.png') }}">
												<img src="{{ asset('images/musical-note.png') }}">
												<img src="{{ asset('images/speak.png') }}">
											</div>
											<div class="rule">
												<p>Pas de cigarette dans la voiture</p>
												<p>Pas de musique dans la voiture</p>
												<p>Ne pas parler trop fort</p>
											</div>
										</div>
									</div>
									<div class="right">
										<p>07/08/2023</p>
										<p>Christopher</p>
										<img src="{{ asset('images/user.png') }}">
										<div class="cardGrade">
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="true"></i>
											<i class="fas fa-star icon" data-active="false"></i>
										</div>
										<a href="">
											<button class="delete">Supprimez la réservation</button>
										</a>
									</div>
								</div>
							</div>
						</section>

						<section id="voitures" class="voitures">
							<h1>Mes véhicules</h1>
							<div class="contenu">
								<div class="list">
									{% for car in cars %}
										<div class="car">
											<p>{{ car.brand }}
												{{ car.model }}</p>
											<a href="" class="edit_car">
												<button>Modifier</button>
											</a>
										</div>
									{% endfor %}
								</div>

								<div class="carForm">
									<a href="{{ path('app_car') }}">
										<button>Ajouter un véhicule</button>
									</a>
								</div>
							</div>
						</section>

					{% endif %}
				{% endblock %}
